<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">

<dom-module id="language-flags">

    <template>

      <span id="lang_{{languageCode(main)}}">{{languageFlag(main)}}</span>
      <paper-tooltip for="lang_{{languageCode(main)}}" offset="1">{{main}}</paper-tooltip>

      <template is="dom-repeat" items="{{supported}}">
        <span id="lang_{{languageCode(item)}}">{{languageFlag(item)}}</span>
        <paper-tooltip for="lang_{{languageCode(item)}}" offset="1">{{item}}</paper-tooltip>
      </template>

    </template>

    <script>
        Polymer({
            is: 'language-flags',
            properties: {
                _uniqLangs: {
                  type: Object,
                  value: function () {return new Set()},
                },
                main: {
                  type: String,
                  value: null
                },
                supported: {
                    type: Array,
                    value: []
                }
            },
            languageCode: function (code) {
              if (code == null) return code;
              return code.replace(/[!"#$%&'()*+,.\/:;<=>?@[\\\]^`{|}~]/g, "\\$&")
            },
            languageFlag: function(code) {
                if (code == null) return code;
                if (this._uniqLangs.has(code)) return null;
                this._uniqLangs.add(code);
                var langCode = code.split('-')[1];
                if (langCode == null) return code;
                langCode = langCode.toUpperCase()
                var firstLetter = langCode.codePointAt(0) - 0x41 + 0x1F1E6;
                var secondLetter = langCode.codePointAt(1) - 0x41 + 0x1F1E6;
                return String.fromCodePoint(firstLetter) + String.fromCodePoint(secondLetter);
            },
        })
    </script>
</dom-module>
