
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">

<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">


<link rel="import" href="../components/language-flags.html">

<script src="http://cdn.wedeploy.com/api/latest/wedeploy.js"></script>

<dom-module id="site-list">

  <template>

    <style is="custom-style" >

      iron-list {
        margin-top: 20px;
        padding-bottom: 20px;
      }

      .siteContent {
        @apply(--layout);
        background-color: #ddd;
        position: relative;
        width: 300px;
        height: 200px;
        margin: 20px;
        padding: 5px;
        border: 3px solid rgba(0,125,150,0.95);
      }


      .photoContent > img {
        width: 300px;
        height: 200px;
        margin: 8px;
      }

      .siteContent .detail {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,125,150,0.95);
        color: white;
        font-size: 14px;
        font-weight: 100;
        padding: 20px;
        opacity: 1;
        transition: opacity 0.1s;
      }

      .siteBadge {
        --paper-badge: {
          width: 40px;
          height: 40px;
          background-color: rgba(0,125,150,0.95);
          font-weight: bold;
          font-size: 1.1em;
          margin-right: 10px;
        }

      }
    </style>

      <iron-list id="siteList" items="[]" scroll-target="document" grid>
        <template>

          <div class="siteContainer" >
            <div class="siteContent" id="site-[[index]]">
              <a href="#check/{{_stripProtocol(item.originalURI)}}">
                <img
                  width="300"
                  height="200"
                  src="http://free.pagepeeker.com/v2/thumbs.php?size=x&url={{item.originalURI}}"
                  />
                <div class="detail">[[item.title]]</div>
              </a>
            </div>
          </div>

          <paper-badge class="siteBadge" for="site-[[index]]" label="{{_calcVersion(item)}}"></paper-badge>
        </template>
      </iron-list>

    <!-- this element will load more data when the user scrolls down and reached the lower threshold -->
    <iron-scroll-threshold
      id="siteScrollThreshold"
      lower-threshold="500"
      on-lower-threshold="_loadMoreData"
      scroll-target="document">
    </iron-scroll-threshold>

    <div class="loadingIndicator">
      <paper-spinner id="loading" active="false"></paper-spinner>
    </div>

  </template>

    <script>
        var data = WeDeploy.data('http://data.' + DOMAIN);

        Polymer({
          is: 'site-list',
          properties: {
            sitesPerPage: {
              type: Number,
              value: 100
            }
          },
          _setListCount: function() {
            data
              .where('builtWithLiferay', '=', "true")
              .count()
              .get('sites')
              .then(function (count) {
                scope.$.siteList.maxPhysicalCount = count;
              })
          },
          _loadMoreData: function() {
            scope = this;
            scope._setListCount();
            displayedSites = scope.$.siteList.items.length;
            totalSites = scope.$.siteList.maxPhysicalCount;
            if (displayedSites >= totalSites) return;

            scope.$.loading.active = true;
            data
              .where('builtWithLiferay', '=', "true")
              .limit(scope.sitesPerPage)
              .offset (scope.$.siteList.items.length)
              .get('sites')
              .then(function (sites) {
                scope.$.loading.active = false;
                sites.forEach(function(site) {
                  scope.$.siteList.push('items', site);
                });
                scope.$.siteScrollThreshold.clearTriggers();
              })
          },
          _calcVersion: function(item) {
              buildVersion = item.liferayInfo.detectedBuildNumbers[0];
              return buildVersion ? buildVersion.charAt(0) + "." + buildVersion.charAt(1) : "N/A"
          },
          _stripProtocol: function(url) {
            return url.replace(/.*?:\/\//g, "");
          }
        })
    </script>

</dom-module>
